.input-bar {
	background-color: #ffffff1a;
	/* outline: 1px solid white; */
	height: 36px;
	border-radius: 6px;
	padding: 4px;
	margin: 16px;
	display: flex;
}
.input-bar input {
	padding: 0;
	padding-left: 8px;
	margin: 0;
	width: 100%;
	color: white;
	background: transparent;
	font-size: 18px;
	font-weight: 500;
	border: none;
}
.input-bar input:focus {
	border: transparent;
	outline: transparent;
}
.input-bar .icon {
	padding: 0 6px;
	font-size: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.pointer {
	cursor: pointer;
}
