.input-bar {
	background-color: black;
	/* outline: 1px solid white; */
	height: 40px;
	border-radius: 8px;
	padding: 4px;
	display: flex;
}
.input-bar input {
	width: 100%;
	background: transparent;
	font-size: 1.5rem;
	border: none;
}
.input-bar input:focus {
	border: 1px solid transparent;
	outline: 1px solid transparent;
}
