.playlist {
	min-width: 25vw;
	background-color: #1f1f1f;
	border-radius: 30px;
	padding: 8px;
}
.playlist-name-box {
	padding: 4px;
	border: 1px solid lime;
}

.playlist-items ul {
	list-style: none;
	padding: 0;
	margin: 0;
	margin-top: 10px;
	gap: 10px;
}
