.playlist {
	width: 40vw;
	background-color: #1f1f1f;
	border-radius: 8px;
	padding: 12px 8px;
}
.playlist h1 {
	margin: 8px 16px;
	padding: 0;
	font-size: 24px;
}
/* .playlist-name-box {
	padding: 4px;
	border: 1px solid lime;
}

.playlist-items ul {
	list-style: none;
	padding: 0;
	margin: 0;
	margin-top: 10px;
	gap: 10px;
} */
